#about-me{
  padding-top: 90px;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 100px 1fr 1fr;
  column-gap: clamp(5px, 3vw, 50px); 
  row-gap: 20px;
  grid-template-areas: 
            "name name"
            "img desc"
            "tools desc";
  
  & > img{
    width: clamp(250px, 40vw, 600px);
    grid-area: img;
    justify-self: end;
    border-radius: 2rem;
  }

  & > h1{
    grid-area: name;
    justify-self: start;
  }
   p{
    grid-area: desc;
    justify-self: start;
    font-size: 1.1rem;
    line-height: 2rem;
    text-indent: 4rem;
  }
  h2{
    font-size: 1.5rem;
  }
  a {
    color: var(--english-violet-light);
  }
  ul {
    grid-area: tools;
    display: grid;
    gap: 10px;
    width: min(800px, 100%);
    align-self: flex-start;
    margin-bottom: 50px;

    li {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 10px;
    }
    i{
      font-size: 10rem;
    }
    img{
      width: clamp(36px, 8vw, 64px)
    }

  }
};

@media (max-width: 700px) {
  #about-me{
    padding-top: 90px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 1fr auto;
    gap: 15px;
    grid-template-areas: 
                        "name"
                        "img"
                        "desc"
                        "tools";
  img{
    align-self: center;
    justify-self: center;
  }
}
}