@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&display=swap');
@import './animations.scss';

:root {

  color: white;
  font-size: clamp(13px, 2vw, 16px);
  font-family: 'Lora', serif;
}

.App{
  background-color: $space-cadet;
  position: relative;
  display: flex;
  flex-direction: column;

}

a {
  text-decoration-line: none;
}

button {
  border: none;
  border-radius: 16px;
  padding: 5px 10px 5px 10px;
  font-size: 1.2rem;
  outline: 3px solid $english-violet;
}

section{
  min-height: calc(100vh - 80px);
  padding: 20px;
  // padding-top: 90px;
  display: grid;
  align-items: center;
  justify-items: center;

  h1{
    font-size: 4rem;
  width: 100%; 
  text-align: center; 
  border-bottom: 2px solid var(--skobeloff);
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

h1 span { 
   background: var(--space-cadet);
   padding:0 10px;
   word-wrap:break-word;
   white-space: normal;
}
}


.text-pop-up-top {
	-webkit-animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
