@import './appStyle.scss';

nav{
  background-color: $skobeloff;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0px;
  min-height: 80px;
  z-index: 1;
  ul{
    display: flex;
    width: auto;
    gap: 20px;
    padding: 15px;
  }
}

@media (max-width: 400px){
  nav {
    justify-content: center;
  }
}
