#projects{
  padding-top: 50px;
  height: 100vh;
}

.project {
  display: grid;
  border-radius: 36px;
  border: 3px solid var(--light-blue);
  box-shadow: 3px 3px 7px black;
  padding: 10px;
  width: clamp(230px, 40vw, 430px);
  grid-template-columns: 1fr;
  grid-template-areas: 
                      "gif"
                      "title"
                      "info"
                      "buttons";
  align-items: center;
  justify-items: center;
  gap: 1.5rem;

  & > img{
    grid-area: gif;
    border-radius: 26px;
    width: clamp(200px, 40vw, 400px);
  }
  & > h2 {
    grid-area: title;
    font-size: 2rem;
  }

  & > p {
    grid-area: info;
    line-height: 1.5rem;
  }

  & > .buttons-area {
    grid-area: buttons;
    display: flex;
    gap: 5px;
  }
}
