@import url("reset.css");



a {
    color: black;
    text-decoration: none;
}

a:hover {
  color: rgba(47, 113, 39, 0.831)
}



body {
  background-color: black;
  font-family: 'Noto Serif JP', serif;
  min-height: 90vh;
  
}

h1 {
  font-size: 7vw;  
  color: white;
}

h2{
  font-size: 5vw;
  color: rgb(189, 249, 186);
}

main {
  position: relative;
  width: 100%;
  height: 80vh;
  margin: 10vh auto 10vh auto;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


#top-nav-bar{
  position: fixed;
  background-color: lightgray;
  top: 0;
  width: 100%;
  font-family: 'Cairo', sans-serif;

  padding: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

#name-on-bar{
  margin: auto auto auto 20px;
  font-size: 4vw;
  padding: 10px 5px 10px 5px;
  flex: 6 1 20%;
}



.items-on-bar{
  margin: auto;
  padding: 5px;
  list-style-type: none; /* deletes the bullet points */
  flex:3 4 30%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-style: solid;
  align-items: center;
  order: 1;
}

.list-bar-item{
  font-size: 2vw;
  align-self: stretch;
  padding: 8px;
  margin: 5px;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
}

.list-bar-item:hover{
color: rgba(47, 113, 39, 0.831);
box-shadow: 1px 1px 5px;
}

#buttons-on-bar{
  margin: auto;
  padding: 5px 1px 5px 1px;
  flex:1 1 5px;

  align-self: center;
  order: 2;
  display: flex;  
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap;
}

.bar-button{
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 3px 2px;
  cursor: pointer;
 
}

#name-roles{
  width: 90vw;
  height: 30vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-around;  
}

#introduction-image{
  border-radius: 25%;
  max-width: 80%;
  max-height: 40%;
  align-self: center;
  justify-self: flex-start;
}



#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: lightgray;
  color: green;
  text-align: center;

  display: flex;
  justify-content: center;
}

.footer-logos{
  height: 90%;
  margin: 2px 30px 0px 2px;
}