@import url("reset.css");



a {
    color: black;
    text-decoration: none;
}

a:hover {
  color: rgba(47, 113, 39, 0.831)
}



body {
  background-color: black;
  font-family: 'Noto Serif JP', serif;
  min-height: 80vh;
}

h1 {
  font-size: 7vw;  
  color: white;
}

h2{
  font-size: 4vw;
  color: rgb(189, 249, 186);
}

main {
  position: relative;
  width: 100%;
  height: 75vh;
  margin: 10vh auto 10vh auto;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}



#top-nav-bar{
  position: fixed;
  background-color: lightgray;
  top: 0;
  width: 100%;
  font-family: 'Cairo', sans-serif;
  z-index: 100;

  padding: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

#name-on-bar{
  margin: auto auto auto 20px;
  font-size: 6vw;
  font-weight: bold;
  font-style: italic;
  padding: 10px 5px 10px 5px;
  flex: 6 1 20%;
}



.items-on-bar{
  margin: auto;
  padding: 5px;
  list-style-type: none; /* deletes the bullet points */
  flex:3 4 30%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-style: solid;
  align-items: center;
  order: 1;
}

.list-bar-item{
  font-size: max(2.5vw, 15px) ;
  align-self: stretch;
  padding: 10px;
  margin: 3px;
  border-radius: 15%;
  border-style: solid;
  border-width: 2px;
}

.list-bar-item:hover{
color: rgba(47, 113, 39, 0.831);
box-shadow: 1px 1px 5px;
}

#current-bar-item{
    color: rgba(47, 113, 39, 0.831);
    }



#name-roles{
  width: 90vw;
  height: 30vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-around;  
}

#introduction-image{
  border-radius: 25%;
  max-width: 60%;
  max-height: 65%;
  align-self: center;
  justify-self: flex-start;
}



#footer{
  position: relative; 
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: lightgray;
  color: green;
  text-align: center;

  display: flex;
  justify-content: center;
}

.footer-logos{
  height: 90%;
  width: auto;  
  margin: 2px 30px 0px 2px;
}

#contact{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contact-logos{
  width: 8vw;
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  main {
    height: 53vh;
    margin: 20vh auto 20vh auto;
    
  }

  .list-bar-item{
    padding: 5px;
    margin: 3px;
  }
}